body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

header {
  padding: 10px 80px;
}

nav {
  background-color: white;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

ul.links {
  list-style: none;
}

nav li {
  padding: 0px 30px;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

nav .links a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

#logo_and_links {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: darkorange;
}

nav .logo {
  font-size: 2em;
}

.button {
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

a.button:hover {
  background-color: lightgray;
  text-decoration: none;
}

#home {
  display: flex;

  width: 100%;
  height: 800px;
}

#home .left_column,
#home .right_column {
  flex-grow: 1;
}

.left_column {
  background-image: url(ancient-greece-race.webp);
}
.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 50px;
  text-align: center;
  max-width: 350px;
  min-width: 400px;
}
.right_column {
  background-image: url(ancient-greece-horse-race.webp);
}

.disclaimer {
  font-size: 0.8em;
}

footer {
  width: 100%;
}

#footer_container {
  display: flex;
  background-color: #f9f8f5;

  height: 100%;
  padding: 10px 80px;
}

#footer_container div {
  flex-grow: 1;
}

#footer_container div.social {
  display: flex;
  flex-direction: column;
}

#footer_container div.footer_links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#footer_container .logo {
  font-size: 3em;
}

footer ul.links li {
  margin: 15px 0px;
}

#social_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.social_logo {
  height: 20px;
}

/* We use this to not add a new container to have 2 row inside a flex
 * container.
 */
.flex-break {
  flex-basis: 100%;
  height: 0;
}
